html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
	text: bold;
  background-repeat: no-repeat;
}

h1{
  color: white;
}
nav{
  text-align: center;
  height: 50px;
  background-color: #333;
}

body {
  font-family: 'Lato', sans-serif;
	background-size: cover;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-top:13px;
  padding-bottom: 13px;
  overflow: hidden;
}

li {
  display: inline;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #666;
}

.page-title {
  text-align: center;
  font-weight: 300;
  margin-left: 40px;
}

.page-description {
  border: 1px solid white;
  background-color: white;
  margin: auto;
  width: 500px;
  height: 200px;
  padding: 100px;
  margin-top: 20px;
}

img.center {
  margin-left: 400px;
  margin-top: 20px;
  height: 50px;
  width:50px;

}
