div {
	border-radius: 5px;
}

#header {
	position: fixed;
	height: 70px;
	background-color: #474A2C;
	margin-top: -80px;
	width: 99%;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
	z-index: 1;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
		margin-top: 80px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
		height: 60px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
		margin-top: 4px;
}

li a:hover {
    background-color: #111;
}

.right {
	position: relative;
	float: right;
	margin-top: 0px;
	width: 100%;
	height: 700px;
	background-color: #C9E3AC;
	margin-bottom: 80px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 350px;
  width: 470px;
}

.right h3,h4, p {
	margin-left: 20px;

}
.left a {
	position: absolute;
	margin-left: 5px;
  margin-top: 20px;
}

#footer {
	position: fixed;
	height: 60px;
	background-color: #474A2C;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: white;
	clear: both;
	text-align: center;
	padding-top: 8px;
	bottom: 0px;
	width: 99%;
}
